.upload-image-container {
  border-radius: 9px;
  /* padding: 20px; */

  background-color: rgb(255, 255, 255);
}

.upload-logo {
  scale: 1.5;

  margin-bottom: 5%;
  display: block;
}

.upload-label {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: rgb(0, 0, 0);
  /* margin: auto; */
}

.upload-input {
  display: none;
}

@media (max-width: 600px) {
  .upload-label {
    font-size: 0.7rem;
  }
}
